/*-------------------------- DIVS --------------------------*/

div.register {
	width: 80vw;
	height: auto;
}

div.split {
  height: 100%;
  width: 50%;
  display: inline-block;
  text-align: center;
  overflow-x: hidden;
}

div.group {
  display: inline-block;
  margin: 0px;
}

/*-------------------------- TEXTO --------------------------*/

h2 {
  display: inline-block;
	color: #840705;
  font-family: "Alex Brush";
  font-weight: bold;
  font-size: 44px;
  text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
}

/*-------------------------- INPUT --------------------------*/

input {
  height: 40px;
  display: inline;
  margin-left: 7px;
  margin-right: 7px;
}

input.email {
  width: 22vw;
}

input.password {
  width: 18vw;
}

input.confirmPassword {
  width: 18vw;
}

input.name {
	width: 10vw;
}

input.surname {
	width: 15vw;
}

input.tag {
  width: 20vw;
  height: 20px;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

select {
  display: inline;
  margin-bottom: 1em;
  margin-right: 14px;
  margin-top: 18px;
  height: auto;
}

/*-------------------------- BOTONES --------------------------*/
  
button.register {
	width: 20%;
	height: 52px;
	padding: 8px 8px 8px 8px;
	margin-top: 1em;  
}

/*-------------------------- OTROS --------------------------*/

hr {
  width: 70vw;
}
  