/*-------------------------- RECTANGULO BASE --------------------------*/

div.login {
  width: 815px;
  height: auto;
}

/*-------------------------- INPUT --------------------------*/

input {
  width: 631px;
	height: 40px;
}

/*-------------------------- BOTONES --------------------------*/

button.login {
  width: 224px;
  height: 81px;
  padding: 8px 8px 8px 8px;
  margin-top: 30px;  
}

button.register {
  width: 224px;
  height: 42px;
  margin-top: 20px;
  margin-bottom: 20px;
}