<img class="profile" [routerLink]="'/profile/'+userService.getToken()" src="assets/perfil.png">
<button class="white soliChat" (click)="botonNewMatch()">Solicitar chat diario</button>
<div class="home">
<button class="red logout" (click)="this.userService.deleteToken(); this.utilityService.goHome()">Logout</button>
<table>
    <tbody>
        <tr *ngFor="let t of matchesData">
            <div class="default persona" [routerLink]="'/chat/'+t.email">
                <img class="imgperfil" src="assets/account-circle.png">
                <h2>{{t.nombre}} {{t.apellidos}}</h2>
            </div>
        </tr>
        <h2 *ngIf="this.matchesData.length == 0">Todavia no tienes matches :(</h2>
    </tbody>
</table>

</div>