@font-face {
  font-family: "Alex Brush";
  src: local("Alex Brush"), url(./assets/fonts/AlexBrush-Regular.ttf) format("truetype");
}

/*-------------------------- DIVS --------------------------*/
div.default {
  padding: 8px 8px 8px 8px;
  
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  
  border-width: 5px;
  border-style: solid;
  border-radius: 30px 30px 30px 30px;
  background: ghostwhite;
  border-color: #840705;
}

div.center {
  display: block;
	margin-left: auto;
	margin-right: auto;
  text-align: center;
}

.split {
  display: inline-block;
  height: 100%;
  width: 50%;
  overflow-x: hidden;
}

/*-------------------------- TEXTO --------------------------*/
h1 {
  color: #840705;
  font-family: "Alex Brush";
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

h2 {
  color: #840705;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

label, div.text, div.message {
  color: #840705;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 24px;
  text-align: center;

  margin-right: 1ch;
  margin-left: 0.5ch;
}

.error {
  color: black;
  font-family: "Helvetica";
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

/*-------------------------- INPUT --------------------------*/
input {
  padding: 8px 8px 8px 8px;

  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;

  background: white;
  color: #840705;
  border-color: #840705;
  border-width: 5px;
  border-style: solid;
  border-radius: 30px 30px 30px 30px;

  font-family: "Helvetica";
  font-size: 18px;
  line-height: 1.3;
  text-align: left;
}

select {
  padding: 8px 8px 8px 8px;

  background: white;
  color: #840705;
  border-color: #840705;
	border-width: 5px;
  border-style: solid;
  border-radius: 30px 30px 30px 30px;

  font-family: "Helvetica";
  font-size: 18px;
  line-height: 1.3;
  text-align: left;
}

/*-------------------------- BOTONES --------------------------*/
button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  font-family: "Helvetica" !important;
  font-weight: bold !important;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;

  cursor: pointer;
  transition: all 0.15s;
}

button.red {
  background: #840705;
  color: white;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 30px 30px 30px 30px !important;
  transform: scale(1);
  transform-origin: center;
}

button.white {
  background: white;
  color: #840705;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 30px 30px 30px 30px !important;
  transform: scale(1);
  transform-origin: center;
}

button:enabled:hover{
  transform: scale(1.1);
}

button:disabled{
  cursor: default;
  background: dimgray;
  font-size: 18px;
}


/*-------------------------- OTROS --------------------------*/
hr {
  height: 1px;
  margin-top: 1.5em;
  margin-bottom: 1em;
  color: #840705;
  border-width: 2px;
  border-style: solid;
}

.loading {
  left: 0 !important;
  top: 0 !important;
  z-index: 10000 !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  background-color: rgba(255,255,255,0.8) !important;
  cursor: pointer !important;
  visibility: visible !important;
  transition: visibility 0.1s, opacity 0.4s linear !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: wait !important;
}

.ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #840705;
  border-color: #840705 transparent #840705 transparent;
  animation: ring 1.2s linear infinite;
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*-------------------------- ANGULAR MATERIAL --------------------------*/
.mat-dialog-container {
  box-shadow: none;
  background-color: ghostwhite !important;
  padding: 48px !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
